*{
    margin: 0;
    padding: 0;
}

@keyframes color-change{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }   
}


@media (min-width: 360px) {
    .body-wrap{  
        width: 100%;   
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;    
    } 

    .body-wrap::after{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        background-image: url(../img/mainBg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: color-change 15s linear infinite;
        z-index: 1;    
    }

    .main-wrap{   
        margin: 30px;
        padding: 30px;
        width: 70%;
        border-radius: 5px;
        background: #fff; 
        z-index: 2;
    }

    .article-wrap{    
        padding: 20px;      
        border: 5px solid black;
    }
    
    .avatar-img{
        width: 80%;        
    }

    .header-social-wrap{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 40px;
    }
    
    .header-section:before{
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;    
        bottom: -14px;
        background: linear-gradient(to right, #3CA1D9 27%, transparent 35%, transparent), linear-gradient(to right, transparent, transparent 65%, #3CA1D9 73%);
    }
    
    .header-about {
        color: #3A3C55;    
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: .05em;
        line-height: 1.4;
    }
    
    .main-header{   
        font-size: 2rem;
    }
    
    .resume-header{
        font-size: 2.5rem;
        margin-top: 10px;
    }    
    
    .social-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;        
        list-style-type: none;
    }
    
    .social-block-item{
        display: flex;
        align-items: center;
    }
    
    .social-link{
        margin-left: 5px;
        text-decoration: none;
        color: #000;
        transition: color 0.3s ease-in-out;    
    }
    .social-link:hover{    
        color: rgb(11, 137, 240);
        font-weight: 600;       
    }
    
    .section-header{
        text-align: center;
        font-size: 1.2rem;
        font-family: "Verdana", sans-serif;
    }

    .section-biography{
        font-family: "Noto Sans", sans-serif;
    }

    .biography-paragraph{
        margin-top: 15px;
        text-indent: 30px;
        text-align: justify;
    }

    .sections-wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .criminal-record-section{
        margin-top: 20px;       
        display: flex;
        flex-direction: column;
    }
    
    .criminal-record-list{
        list-style-type: none;    
    }
    
    .criminal-records-content{
        margin-top: 10px;
        display: none;
        max-height: 0;
        padding: 0 18px;
        overflow: hidden;   
        background-color: #f1f1f161;
        color: #000;
        font-family: "Courier New", sans-serif;
        transition: max-height 0.3s ease;    
    }
    
    .criminal-records-item {
        position: relative;
        padding: 18px;
        cursor: pointer;        
        font-size: 1rem;      
    }
      
    .active{
        color: rgb(134, 163, 105);
    }
      
    .criminal-records-item:after {
        position: absolute;
        right: 20px;
        content: '\002B';    
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    
    .active:after {
        position: absolute;
        right: 20px;
        top: 20px;
        content: "\2212";
    }
    
    .left-section-wrap{        
        display: flex;
        flex-direction: column;
    }
    
    .skills-section{
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .skills-section-bar-wrap{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .skills-name{
        margin-right: 5px;
    }
    
    .skills-section-progres-wrap {    
        position: relative;
        width: 65%;
        border-radius: 7px;
        background-color:#e2e2e2;
    }
    
    .skills-section-progres-wrap:hover .skil-percent{
        display: inline-block;
    }
    
    .skil-percent{
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .skil-progress-bar{
        display: flex;
        align-items: center;
        justify-content: center;    
        height: 30px;
        background-color: green;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px; 
    }
      
    .skills-section-creativity {
        width: 100%;       
    }
    
    .skills-section-honesty{
        width: 10%;    
    }
    
    .skills-section-emphatetic{
        width: 5%;   
    }
    
    .skills-section-patioent{
        width: 7%;    
    }
    
    .skills-section-shyness{
        width: 4%;   
    }
    
    .skills-section-spiking{
        width: 91%;
    }
    
    .like-dislike-section{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .section-img-wrap{
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
    }
}


@media (min-width: 700px) { 
    .social-block{
        flex-direction: row;
        flex-wrap: wrap;       
        justify-content: flex-start;
    }
    
    .social-block-item{
        margin: 10px;
    }
}


@media (min-width: 1000px) { 
    .header-social-wrap{
        margin-top: 0;
        align-items: baseline;
    }

    .avatar-img{
        width: 30%;
        margin-right: 20px;
    }
    
    .header-section{
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    
    .resume-header{
        font-size: 2.5rem;
        margin-top: 10px;
    }    
    
    .social-block{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;   
        margin: 0;
    }    

    .sections-wrap{
        flex-direction: row;        
        justify-content: space-between;
    }

    .criminal-record-section{
        margin-top: 40px;
        width: 45%;
    }


    .left-section-wrap{
        width: 45%;   
    }

    .skills-section{   
        margin-top: 40px;    
    }

}